.App {
}

.headerStyle {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.linkStyle {
    color: #fff;
    text-decoration: none;
}

.todo-check {
    float: left;
    margin: 5px 18px 0 0;
}

.todo-completed {
    text-decoration: line-through;
    float: left;
}

.todo-new {
    float: left;
}

.del-todo {
    float: right;
}

.todos-card {
    margin-bottom: 20px
}
